# Hausaufgaben für Kurseinheit 2

Die hier gestellten Aufgaben beziehen sich auf die Inhalte des Notebooks [Python Grundlagen 2](https://colab.research.google.com/drive/1qS07P8EvBKrjWLz8LzLAJ5mW8MIYNDG1?usp=sharing) sowie [Python Grundlagen 3](https://colab.research.google.com/drive/1ZGqXh_t5fvGDXD3ZhGDzCmK7Yc3xagbZ?usp=sharing).

Denken Sie daran: **Damit Änderungen am Notebook die Sie vornehmen beibehalten werden, müssen Sie das Notebook erst für sich speichern. Dazu gehen Sie auf `Datei` - `Kopie in Drive speichern`.** Falls Sie eine lokale Python Installation nutzen, laden Sie das Notebook herunter bevor Sie es verändern.

## Bedingungen

### Übung Bedingungen 1

Schreiben Sie ein Programm, das überprüft ob eine Zahl gerade oder ungerade ist.  
**Hinweis**: mit dem Modulo-Operator `%` lässt sich "Teilen mit Rest" realisieren. Der "Rest" der Division wird zurückgeliefert.

### Übung Bedingungen 2

Schreiben Sie Programm, das überprüft, ob ein Wort den Buchstaben 'e' enthält und kürzer als 5 Buchstaben ist.

### Übung Bedingungen 3

Legen Sie eine Variable `preis` an. Geben Sie dieser Variablen einen beliebigen ganzzahligen Wert. Schreiben Sie dann eine `if ... elif ... elif ... else` Kaskade, die für den Wert von `preis` folgende Ausgaben produziert:
* Wenn `preis > 10` ist, geben Sie `akzeptabel` aus.
* Wenn `preis > 20` ist, geben Sie `teuer` aus.
* Wenn `preis > 30` ist, geben Sie `sehr teuer` aus.
* In allen anderen Fällen geben Sie `billig` aus.

Probieren Sie ihre Bedingungen mit verschiedenen Werten für `preis` aus.

### Übung Bedingungen 4

* Erstellen Sie eine Liste mit den Zahlen von 0 bis 20.   

**Hinweis**: Benutze die `range()`-Funktion die Sie in der ersten Kurseinheit kennen gelernt haben.  

* Schreiben Sie ein Programm, das mit einer `for` Schleife über die erstellte Liste iteriert und:
  * alle Zahlen kleiner 10 mit 2 multipliziert und ausgibt sowie
  * alle Zahlen größer 10 durch 2 teilt und ausgibt
  * einen Spezialfall für die Zahl 15 hat und eine Warnung ausgibt, wenn diese Zahl erreicht wird.

### Übung Bedingungen 5
Benutzen Sie den `in` Operator um zu überprüfen, ob der Name `Alfons` in der untenstehenden Namensliste enthalten ist.  
**Hinweis**: Sie müssen die Zelle mit der Namensliste einmal ausführen, damit die Variable mit der Namensliste im Notebook bekannt ist.

In [ ]:
namen = [
    "Astrid", "Ines", "Christoph", "Markus", "Çınar", "Đželila", "Niklas",
    "Anna", "Stefanie", "Raphael", "Anna-Lena", "Silvia", "Julian", "Simon",
    "Katharina", "Michael", "Dominik", "Maria", "Kevin", "Bianca", "Thomas",
    "Nora", "Manuel", "Selina", "Gabriel", "Daniel", "Thomas", "Nina", "Michael",
    "Fabio", "Theresa", "Manuel", "Carina", "Philipp", "Lukas", "Wolfgang",
    "Anna", "Doris", "Thomas", "Muhammed", "Christoph", "Lisa-Marie", "Jessica",
    "Maria", "Thomas", "Florian", "Martin", "Anna", "Oliver", "Gregor", "Helmut",
    "Florian", "Matteo", "David", "Marlene", "Vanessa", "Lea", "Jan", "Béla",
    "Verena", "Manuel", "Björn", "Tobias", "Denise", "Emma", "Lukas", "Sarah",
    "Oliver", "Janine", "Manuel", "Georg", "Lorenz", "Verena", "Caroline",
    "Laura", "Felix", "Simon", "Lea", "Peter", "Sandra", "Julia", "Sophie",
    "Jacqueline", "Nina", "Sebastian", "David", "Matthias", "Patrick", "Selina",
    "Fabian", "Daniel", "Sabine", "Josef", "Lisa", "Carina", "Florian", "Fabian",
    "Viktoria", "Christoph", "Emilia"
]

## Funktionen

### Übung Funktionen 1

Schreiben Sie eine Funktion, die zwei Zahlen als Argumente erhält und ihre Summe, Differenz, Produkt und Quotienten ausgibt. Testen Sie die Funktion mit verschiedenen Zahlenpaaren.

### Übung Funktionen 2

Modifizieren Sie die in "Übung Funktionen 1" geschriebene Funktion so, dass einer der beiden Parameter als Default Wert immer den Wert 10 hat.

### Übung Funktionen 3
Geben Sie der oben geschriebenen Funktion eine aussagekräftige Beschreibung mit Hilfe eines Docstrings. Lassen Sie sich den Docstring mit der Hilfefunktion <tt>?funktionsname</tt> ausgeben.

## Daten

In [ ]:
# zur Vorbereitung laden wir wieder den Datensatz mit
# Passagier:innen der Titanic
import seaborn
daten_titanic = seaborn.load_dataset("titanic")
daten_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
erste_klasse = [daten_titanic["class"] == "First"]
erste_klasse.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True

### Übung Daten 1

Im Code oben wurde das DataFrame so gefiltert, dass nur Passagier:innen der ersten Klasse ausgewählt werden. Der gefilterte Datensatz wurde in der Variablen `erste_klasse` gespeichert.
* Filtern Sie auch Passagier:innen der zweiten und dritten Klasse heraus und speichern Sie die gefilterten DataFrames jeweils in eigenen Variablen `zweite_klasse` und `dritte_klasse`.
* Was war die Überlebenswahrscheinlichkeit von Passagier:innen in der ersten, zweiten und dritten Klasse?
* Was war der durchschnittliche Ticketpreis (Spalte `fare`) in der ersten, zweiten und dritten Klasse?

**Hinweis:** Die Spalte `survived` gibt an, ob ein:e Passagier:in überlebt hat. Wenn Sie den Mittelwert dieser Spalte berechnen, erhalten Sie die Überlebenswahrscheinlichkeit.

### Übung Daten 2
* Filtern Sie jetzt das DataFrame so, dass nur weibliche bzw. männliche Passagiere ausgewählt werden. Speichern Sie die gefilterten Datensätze jeweils in eigenen Variablen.
* Was war die Überlebenswahrscheinlichkeit von Frauen bzw. Männern?

In [ ]:
len(daten_titanic["deck"].dropna())

203

In [ ]:
len(daten_titanic)

891

### Übung Daten 3

In [ ]:
passagiere_mit_deck = daten_titanic.dropna(subset=['deck'])

Beiweitem nicht für alle Passagier:innen ist das Deck bekannt. Im oben stehenden Code wurden die Passagier:innen ohne Information über das Deck verworfen. Dafür wurde die Funktion `dropna()` verwendet und noch spezifiziert, auf welche Spalte sich die Funktion beziehen soll (`subset=['deck']`).
* Wie viele Passagier:innen bleiben nach dem Filtern übrig?
* Finden Sie heraus, wie welche Decks es auf der Titanic gab.
* Welches Deck hatte die höchste Überlebenswahrscheinlichkeit?

## Visualisierung

### Übung Visualisierung 1

* Verwenden Sie ein Hisogramm, um die Verteilung der Ticketpreise (Spalte `fare`) darzustellen.
* Verwenden Sie das optionale Argument `kde=True` um eine geglättete Abschätzung der Verteilung darzustellen.
* Ändern Sie die Farbe der Balken auf grün.

### Übung Visualisierung 2

* Verwenden Sie ein Balkendiagramm um die Überlebenswahrscheinlichkeit der Passagier:innen in der 1., 2. und 3. Klasse grafisch darzustellen.
* Auf den einzelnen Balken sehen sie kleine senkrechte schwarze Linien. Was stellen diese Linien dar? **Hinweis**: die [Dokumentation](https://seaborn.pydata.org/generated/seaborn.barplot.html) von Seaborn könnte Anhaltspunkte liefern.

### Übung Visualisierung 3

* Kopieren Sie den Code für das Streudiagamm, das den Ticketpreis über dem Alter der Titanic Passagier:innen darstellt hierher.
* Verwenden Sie den optinalen `hue=class` Parameter, um die Ticketpreise für verschiedene Klassen darzustellen.
* Verwenden Sie alternativ das Deck, um die Ticketpreise von Passagier:innen auf verschiedenen Decks darzustellen.
* Ist in der Abbildung ein Zusammenhang zwischen Alter und Ticketpreis erkennbar? Wie sieht es mit einem Zusammenhang zwischen Ticketpreis und Klasse bzw. Deck aus?
* Ist ein Streudiagramm Ihrer Meinung nach die beste Art und Weise, um diese Daten darzustellen? Was wären geeignete Alternativen?

### Übung Visualisierung 4

* Laden Sie den Datensatz mit COVID Fallzahlen wie im [Notebook](https://colab.research.google.com/drive/1ZGqXh_t5fvGDXD3ZhGDzCmK7Yc3xagbZ#scrollTo=mr-GSvPZ6FJu) des Kurses. Vergessen Sie dabei nicht, die Spalte mit dem Datum auch als Datum zu parsen.
* Stellen Sie den Verlauf der Fallzahlen über die Zeit für ein anderes Land ihrer Wahl (außer Österreich) dar.

Mit der folgenden Maske können Sie den Datensatz so filtern, dass Sie die Daten von mehreren Ländern erhalten (in diesem Fall Deutschland, den USA und Indien):

In [ ]:
# Achtung: der Folgende Code funktioniert nur, wenn Sie vorher die Daten mit
# den COVID Fallzahlen eingelesen und in einer Variable mit dem Namen
# "daten_COVID" gespeichert haben!
laender_liste = ['Germany', 'United States', 'India']
maske = daten_COVID["location"].isin(laender_liste)

* Verwenden sie den Parameter `hue=location` um in ihrem Liniendiagramm die Fallzahlen für die drei Länder in verschiedenen Farben darzustellen.
* Fügen Sie auch Österreich der Länderliste hinzu und erstellen Sie das Liniendiagramm noch einmal. Warum ist Österreich praktisch nicht zu sehen?

## Quelle und Linzenz
Das vorliegende Notebook wurde von Jana Lasser für den Kurs B "technische Aspekte" des Microcredentials "KI und Gesellschaft" der Universität Graz erstellt.

Das Notebook kann unter den Bedingungen der Lizenz [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0) verwendet, modifiziert und weiterverbreitet werden.